

  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  /* */
  body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("kontakt.webp");
    height: 100%;
    width: auto;
    
  
    /* Center and scale the image nicely */
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;*/
  }
  
  /* Add styles to the form container */
  .container {
    position: relative;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
    border: 2px darkblue;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }

  nav{
    overflow: hidden;
     background: rgba(0, 0, 0, 0);
     display: flex;
     justify-content:space-around;
     align-items: center;
     color: rgb(245, 245, 245);
   }
   .nav-links {
     float: right;
       display: flex;
       justify-content:space-around;
       width: 50%;
       text-transform: uppercase;
   }
   .nav-links a{
     display: block;
      text-transform: uppercase;
      text-decoration: none;
      color: rgb(255, 251, 251);
     border-bottom:2px solid transparent;
     transition:0.5s ease;
     transform: translateX(0%);
   }
   .nav-links a:hover{
     color:#38b8ff;
     letter-spacing: 5px;
   }
   .burger{
     display: none;
   }
   .burger div{
     width: 25px;
     height: 3px;
     background: #fff;
     margin: 0px;
     transition:all 0.5s ease;
   }
   
   
   
   @media only screen and (max-width: 760px){
      nav{
       justify-content: space-between;
       padding: 0 5vw;
     }
     .nav-links{
       position: absolute;
       right: 0;
       top:8vh;
       min-height:92vh;
       background: #333;
       display: flex;
       flex-direction: column;
       align-items: center;   
       width: 50%;
       margin: 0;
       padding: 0;
       transform: translateX(100%);
       transition:All 0.5s ease-in;
     }
     .nav-links a{
       opacity: 0;
    
     }
     .burger{
       display: block;
     }
    
   }
   @media only screen and (max-width: 640px){
     nav{
       justify-content: space-between;
       padding: 0 5vw;
     }
   }
   .nav-active{
     transform: translateX(0);
   }
   @media only screen and (max-width: 460px){
     .nav-links{
       width: 100%;
       transition:All 0.5s ease;
     }
   }
   .nav-active{
     transform: translateX(0);
   }
   @keyframes navLinkFade{
     from{
       opacity: 0;
       transform: translateX(50px);
     }
     to{
       opacity: 1;
       transform: translateX(0);
     }
   }
   .toggle .line1{
      transform: rotate(-45deg) translate(-5px,6px );
   }
   .toggle .line2{
      opacity: 0;
   }
   .toggle .line3{
      transform: rotate(45deg) translate(-5px,-6px );
   }